<div class="header">
  <div class="header__text-box">
    <h1 class="heading-primary">
        <span class="heading-primary--main">Rideshare</span>
        <span class="heading-primary--sub">we connect drivers & passengers</span>
    </h1>
  </div>
</div>


