<div class="container mt-5">
  <h1>Meet our Passengers:</h1>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Phone Number</th>
      </tr>
    </thead>
    <tbody>
      <% @passengers.each do |passenger| %>
        
          <tr class="list-group-item-action">
            <th scope="row"> <%= passenger.id %> </th>
            <td> <%= link_to passenger.name, passenger_path(passenger) %> </td>
            <td> <%= passenger.phone_num %> </td>
 
      <% end %> 
    </tbody>
  </table>
</div>